<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reminder - Edit</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script></head
  ><style>
    body {
      font-family: monospace;
    }
  </style>
  <body>
    <div
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
      "
    >
      <div style="text-align: center; margin-top: 25px; width: 70vh">
        <h2>Edit Reminder</h2>
        <a
          class="btn btn-primary"
          style="position: absolute; left: 10; top: 10; margin: 5px"
          href="{% url 'list_reminder' %}"
          role="button"
          ><</a
        >

        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div style="margin-top: 40px" class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              value="{{Rem_info.title}}"
              placeholder="Title"
              required
            />
            <label for="title ">Title</label>
          </div>

          <div style="margin-top: 6px" class="form-floating">
            <textarea
              class="form-control"
              placeholder="Description"
              id="description"
              name="description"
              style="margin-top: 5px; margin-bottom: 10px; height: 100px"
            >
            {{Rem_info.description}}
            </textarea>
            <label for="description">Description</label>
          </div>

          <div style="margin-top: 3px" class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="R_date"
              name="R_date"
              value="{{Rem_info.R_date}}"
              placeholder="Date"
            />
            <label for="R_date">Date</label>
          </div>

          <div style="margin-top: 3px" class="form-floating mb-3">
            <input
              type="time"
              class="form-control"
              id="R_time "
              name="R_time "
              value="{{Rem_info.R_time}}"
              placeholder="Time"
            />
            <label for="R_time ">Time</label>
          </div>

          <div style="margin-top: 5px" class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="Location"
              name="Location"
              value="{{Rem_info.Location}}"
              placeholder="Location"
            />
            <label for="Location">Location</label>
          </div>

          <button style="align-self: end" type="submit" class="btn btn-primary">
            Save
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
