<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignments</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <style>
    body {
      font-family: monospace;
    }
  </style>
  <body>
    <div style="text-align: center">
      <h2 style="margin: 40px">Assignments</h2>
    </div>
    <div>
      <a
        class="btn btn-primary"
        style="
          position: absolute;
          margin-top: 10px;
          margin-left: 10px;
          top: 0px;
          left: 0px;
        "
        href="{% url 'main' %}"
        role="button"
        >Home</a
      >
    </div>

    <div
      style="
        margin: 20px;
        border: 1.5px solid black;
        border-radius: 10px;
        width: 98%;
        margin: 0 auto;
      "
    >
      <table
        class="table table-hover"
        style="width: 100%; margin-top: 10px; border-collapse: collapse"
      >
        <thead>
          <tr style="border-bottom: gray">
            <th style="padding: 10px; text-align: center">
              <h4>Subject</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <h4>Title</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <h4>Description</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <h4>Due Date</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <h4>Status</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <h4>Files</h4>
            </th>
            <th style="padding: 10px; text-align: center">
              <a
                style="margin-left: 5px"
                class="btn btn-primary"
                href="{% url 'add_assignment' %}"
                role="button"
                >Add Assignment</a
              >
            </th>
          </tr>
        </thead>
        {% for Assignment in Assignments %}
        <tbody>
          <tr>
            <td style="padding: 10px; text-align: center">
              {{ Assignment.subject }}
            </td>
            <td style="padding: 10px; text-align: center">
              {{ Assignment.title }}
            </td>
            <td style="padding: 10px; text-align: center">
              {{ Assignment.description }}
            </td>
            <td style="padding: 10px; text-align: center">
              {{ Assignment.due_date }}
            </td>
            <td style="padding: 10px; text-align: center">
              {{ Assignment.status|capfirst }}
            </td>
            <td style="padding: 10px; text-align: center">
              {% if Assignment.Assignment_files %}
              <a
                style="text-decoration: none; color: black"
                href="{{ Assignment.Assignment_files.url }}"
                target="_blank"
                >Open <i class="bi bi-filetype-pdf"></i
              ></a>
              {% else %} No files attached {% endif %}
            </td>

            <td style="padding: 10px; text-align: center">
              <a
                class="btn btn-success"
                style="color: black; margin-right: 6px"
                href="{% url 'edit_assignment' Assignment.Assignment_id %}"
                role="button"
                ><i class="bi bi-pencil-fill"></i
              ></a>
              <a
                class="btn btn-danger"
                style="color: black; margin-left: 6px"
                href="{% url 'delete_assignment' Assignment.Assignment_id %}"
                role="button"
                ><i class="bi bi-trash-fill"></i
              ></a>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
