<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignments List</title>
  </head>
  <body>
    <h2>List of Assignments</h2>
    <ul>
      {% for Assignment in Assignments %}
        <h3>{{ Assignment.subject }}</h3>
        <p>- {{ Assignment.title }}</p>
        <a style="text-decoration: none; color: black;" href="{{ Assignment.Assignment_files.url }}" target="_blank">Open file</a>
        <p>Due Date: {{ Assignment.due_date }}</p>
        <a class="btn btn-primary" style="color: black;" href="{% url 'edit_assignment' Assignment.Assignment_id %}" role="button">Edit Assignment</a>
      {% endfor %}
    </ul>
    <a class="btn btn-primary" href="{% url 'main' %}" role="button">Home</a>
  </body>
</html>
