<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClassHub</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'Css/MainPage.css' %}" />
  </head>
  <style>
    .item {
      padding: 7px;
      margin: 7px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      background-color: #e8e8e8;
    }

    body {
      width: 100%;
      height: 95vh;
      margin: 10px 0px;
      z-index: -1;
      background: #dddddd;
      color: #000000;
      font-family: monospace;
    }
    
  </style>
  <body>
    <div class="main-body">
      <div class="navigation-bar">
        <nav>
          <h1 id="main-page" onclick="redirectToPage(id)">ClassHub</h1>
          <!-- Theme button -->
          <input type="checkbox" id="theme-toggle" name="theme" onchange="sessionThemeManagement()" />
          <label for="theme-toggle"></label>
          <ul>
            <li>
              <a href="{% url 'list_task' %}">Tasks</a>
            </li>
            <li>
              <a href="{% url 'list_assignment' %}">Assignment</a>
            </li>
            <li>
              <a href="{% url 'list_materials' %}">Materials</a>
            </li>
            <li>
              <a href="{% url 'list_reminder' %}">Reminders</a>
            </li>
            <li>
              <a href="{% url 'list_expense' %}">Expenses</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="tasks scrollable-list">
        <div class="titles">
          Tasks<div class="arrow-to-page">
            <i class="bi bi-plus-lg" id="task-add" onclick="redirectToPage(id)"></i>
            <i id="task-arrow" onclick="redirectToPage(id)" class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="info">
          {% if recent_tasks %}
            {% for task in recent_tasks %}
              <div class="item" data-bs-toggle="modal" data-bs-target="#taskModal{{ task.Task_id }}">
                <div class="dot"></div>
                <div class="text">{{ task.title }}</div>
              </div>

              <div class="modal fade" id="taskModal{{ task.Task_id }}" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title w-100" id="taskModalLabel"><b>{{ task.title }}</b></h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {% if task.description %}
                        <p>Description: {{ task.description }}</p>
                      {% endif %}
                      <p>
                        Priority:{% if task.priority %}
                          Important
                        {% else %}
                          Not Important
                        {% endif %}
                      </p>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-success" style="color: black; margin-left: 6px" href="{% url 'edit_task' task.Task_id %}" role="button">Edit</a>
                      <a class="btn btn-danger" style="color: black; margin-left: 6px" href="{% url 'delete_task' task.Task_id %}" role="button">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div style="padding-top: 204px; font-size: medium">
              <p>-- No Tasks Found --</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="pending-assignment scrollable-list">
        <div class="titles">
          Pending Assignments<div class="arrow-to-page">
            <i class="bi bi-plus-lg" id="assignment-add" onclick="redirectToPage(id)"></i>
            <i id="assignment-arrow" onclick="redirectToPage(id)" class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="info">
          {% if pending_assignments %}
            {% for Assignment in pending_assignments %}
              <div class="item" data-bs-toggle="modal" data-bs-target="#assignmentModal{{ Assignment.Assignment_id }}">
                <div class="dot"></div>
                <div class="text">{{ Assignment.title }}</div>
              </div>

              <div class="modal fade" id="assignmentModal{{ Assignment.Assignment_id }}" tabindex="-1" aria-labelledby="assignmentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h6 class="modal-title w-100" id="assignmentModalLabel"><b>{{ Assignment.title }}</b></h6>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      {% if Assignment.subject %}
                        <p>
                          <b>Subject:</b> {{ Assignment.subject }}
                        </p>
                      {% endif %} {% if Assignment.description %}
                        <p>
                          <b>Description:</b> {{ Assignment.description }}
                        </p>
                      {% endif %} {% if Assignment.due_date %}
                        <p>
                          <b>Due Date:</b> {{ Assignment.due_date }}
                        </p>
                      {% endif %}
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-success" style="color: black; margin-left: 6px" href="{% url 'edit_assignment' Assignment.Assignment_id %}" role="button">Edit</a>
                      <a class="btn btn-danger" style="color: black; margin-left: 6px" href="{% url 'delete_assignment' Assignment.Assignment_id %}" role="button">Delete</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div style="padding-top: 80px; font-size: medium">
              <p>-- No Assignments Found --</p>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="recent-material scrollable-list">
        <div class="titles">
          Recent Materials<div class="arrow-to-page">
            <i class="bi bi-plus-lg" id="material-add" onclick="redirectToPage(id)"></i>
            <i id="material-arrow" onclick="redirectToPage(id)" class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="Material">
          <div class="info">
            {% if recent_materials %}
              {% for Material in recent_materials %}
                <div class="item" data-bs-toggle="modal" data-bs-target="#materialModal{{ Material.Material_id }}">
                  <div class="dot"></div>
                  <div class="text">{{ Material.title }}</div>
                </div>

                <div class="modal fade" id="materialModal{{ Material.Material_id }}" tabindex="-1" aria-labelledby="materialModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title w-100" id="materialModalLabel"><b>{{ Material.title }}</b></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% if Material.subject %}
                          <p>
                            <b>Subject:</b> {{ Material.subject }}
                          </p>
                        {% endif %} {% if Material.description %}
                          <p>
                            <b>Description:</b> {{ Material.description }}
                          </p>
                        {% endif %} {% if Material.Assignment_files %}
                          <p>
                            <a class="file-link" href="{{ Material.Assignment_files.url }}" target="_blank">Open <i class="bi bi-filetype-pdf"></i></a>
                          </p>
                        {% endif %}
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-success" style="color: black; margin-left: 6px" href="{% url 'edit_material' Material.Material_id %}" role="button">Edit</a>
                        <a class="btn btn-danger" style="color: black; margin-left: 6px" href="{% url 'delete_material' Material.Material_id %}" role="button">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div style="padding-top: 80px; font-size: medium">
                <p>-- No Materials Found --</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="upcoming-reminder scrollable-list">
        <div class="titles">
          Reminders<div class="arrow-to-page">
            <i class="bi bi-plus-lg" id="reminder-add" onclick="redirectToPage(id)"></i>
            <i id="reminder-arrow" onclick="redirectToPage(id)" class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="Reminder">
          <div class="info">
            {% if upcoming_reminder %}
              {% for Reminder in upcoming_reminder %}
                <div class="item" data-bs-toggle="modal" data-bs-target="#reminderModal{{ Reminder.Reminder_id }}">
                  <div class="dot"></div>
                  <div class="text">{{ Reminder.title }}</div>
                </div>

                <div class="modal fade" id="reminderModal{{ Reminder.Reminder_id }}" tabindex="-1" aria-labelledby="reminderModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title w-100" id="reminderModalLabel"><b>{{ Reminder.title }}</b></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% if Reminder.description %}
                          <p>
                            <b>Description:</b> {{ Reminder.description }}
                          </p>
                        {% endif %} {% if Reminder.R_date %}
                          <p>
                            <b>Date:</b> {{ Reminder.R_date }}
                          </p>
                        {% endif %} {% if Reminder.R_time %}
                          <p>
                            <b>Time:</b> {{ Reminder.R_time }}
                          </p>
                        {% endif %}
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-success" style="color: black; margin-left: 6px" href="{% url 'edit_reminder' Reminder.Reminder_id %}" role="button">Edit</a>
                        <a class="btn btn-danger" style="color: black; margin-left: 6px" href="{% url 'delete_reminder' Reminder.Reminder_id %}" role="button">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div style="padding-top: 80px; font-size: medium">
                <p>-- No Reminders Found --</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="expense-overview scrollable-list">
        <div class="titles">
          Expenses<div class="arrow-to-page">
            <i class="bi bi-plus-lg" id="expense-add" onclick="redirectToPage(id)"></i>
            <i id="expense-arrow" onclick="redirectToPage(id)" class="bi bi-arrow-right"></i>
          </div>
        </div>
        <div class="Expense">
          <div class="info">
            {% if expenses %}
              {% for Expense in expenses %}
                <div class="item" data-bs-toggle="modal" data-bs-target="#expenseModal{{ Expense.Expense_id }}">
                  <div class="dot"></div>
                  <div class="text">{{ Expense.title }}</div>
                </div>

                <div class="modal fade" id="expenseModal{{ Expense.Expense_id }}" tabindex="-1" aria-labelledby="expenseModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h6 class="modal-title w-100" id="expenseModalLabel"><b>{{ Expense.title }}</b></h6>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% if Expense.amount %}
                          <p>
                            <b>Amount:</b> {{ Expense.amount }}
                          </p>
                        {% endif %} {% if Expense.Location %}
                          <p>
                            <b>Location:</b> {{ Expense.Location }}
                          </p>
                        {% endif %} {% if Expense.date %}
                          <p>
                            <b>Date:</b> {{ Expense.date }}
                          </p>
                        {% endif %} {% if Expense.time %}
                          <p>
                            <b>Time:</b> {{ Expense.time }}
                          </p>
                        {% endif %}
                      </div>
                      <div class="modal-footer">
                        <a class="btn btn-danger" style="color: black; margin-left: 6px" href="{% url 'delete_expense' Expense.Expense_id %}" role="button">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div style="padding-top: 80px; font-size: medium">
                <p>-- No Expenses Found --</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="{% static 'Js/MainPage.js' %}"></script>
  <script>
    const urls = {
      listTask: "{% url 'list_task' %}",
      listAssignment: "{% url 'list_assignment' %}",
      listMaterials: "{% url 'list_materials' %}",
      listReminder: "{% url 'list_reminder' %}",
      listExpense: "{% url 'list_expense' %}",
      addTask: "{% url 'add_task' %}",
      addAssignment: "{% url 'add_assignment' %}",
      addMaterial: "{% url 'add_material' %}",
      setReminder: "{% url 'set_reminder' %}",
      addExpense: "{% url 'add_expense' %}",
      mainPage: "{% url 'main' %}"
    }
  </script>
</html>
