<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          value="{{note_info.title}}"
          required
        />
      </div>

      <div class="mb-3">
        <label for="content" class="form-label">Content:</label>
        <textarea
          name="content"
          id="content"
          cols="30"
          rows="10"
          placeholder="{{note_info.title}}"
        ></textarea>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <input
          type="text"
          class="form-control"
          id="category"
          name="category"
          value="{{note_info.title}}"
          required
        />
      </div>

      <div class="mb-3">
        <label for="Assignment_files" class="form-label">Attach File:</label>
        <input
          type="file"
          class="form-control"
          id="Assignment_files"
          name="Assignment_files"
          accept="application/*"
        />
      </div>

      <button type="submit">Add Notes</button><br />
      <br />
      <a class="btn btn-primary" href="{% url 'list_notes' %}" role="button"
        >Notes list</a
      >
      <a class="btn btn-primary" href="{% url 'main' %}" role="button">Home</a>
    </form>
  </body>
</html>
