* {
  box-sizing: border-box;
  transition: background 0.2s linear;
}

body {
  width: 100%;
  height: 95vh;
  background: #dddddd;
  color: #000000;
  font-family: monospace;
}

.main-body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr) repeat(2, 0.5fr) repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 20px;
}

/* Light Mode */

.navigation-bar {
  grid-area: 1 / 1 / 2 / 7;
  position: relative;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  border-image-slice: 1;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar h1 {
  font-size: 32px;
  cursor: pointer;
}

.titles {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #000;
  background-color: #fffffff4;
  font-size: 20px;
  margin-top: 3px;
  padding-top: 2px 0px;
  text-decoration: black;
  text-align: center;
  height: 35px;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0), rgba(192, 192, 192), rgba(255, 255, 255, 0));
  border-image-slice: 1;
  cursor: pointer;
}

.arrow-to-page {
  position: absolute;
  right: 15px;
  top: -1.7px;
  cursor: pointer;
  font-size: 20px;
}

.tasks {
  grid-area: 2 / 1 / 8 / 3;
  position: relative;
  background-color: #fffffff4;
  border-radius: 7px;
  margin: 1px 10px 1px 40px;
  height: 522px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0.5px rgba(255, 255, 255, 1);
}

.pending-assignment {
  grid-area: 2 / 3 / 5 / 5;
  position: relative;
  background-color: #fffffff4;
  border-radius: 7px;
  margin: 1px 10px;
  height: 250px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0.5px rgba(255, 255, 255, 1);
}

.upcoming-reminder {
  grid-area: 5 / 3 / 8 / 5;
  position: relative;
  background-color: #fffffff4;
  border-radius: 7px;
  margin: 1px 10px;
  height: 250px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0.5px rgba(255, 255, 255, 1);
}

.recent-material {
  grid-area: 2 / 5 / 5 / 7;
  position: relative;
  background-color: #fffffff4;
  border-radius: 7px;
  margin: 1px 40px 1px 10px;
  height: 250px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0.5px rgba(255, 255, 255, 1);
}

.expense-overview {
  grid-area: 5 / 5 / 8 / 7;
  position: relative;
  background-color: #fffffff4;
  border-radius: 7px;
  margin: 1px 40px 1px 10px;
  height: 250px;
  text-align: center;
  overflow-y: auto;
  box-shadow: 0px 0px 15px 0.5px rgba(255, 255, 255, 1);
}

nav {
  width: 100%;
  padding: 10px 10%;
  margin-right: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav h1 {
  position: absolute;
  top: 29px;
  left: 60px;
  font-style: normal;
  font-size: 110%;
}

nav ul {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  font-size: 17px;
  text-decoration: none;
}

.file-link {
  text-decoration: none;
  color: black;
}

.scrollable-list::-webkit-scrollbar {
  width: 0px;
}

.info {
  margin-top: 10px;
}

.item {
  padding: 7px;
  margin: 7px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
}

.dot {
  width: 5.5px;
  height: 5.5px;
  background-color: #171c1c;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 20px;
}

.text {
  font-size: 16px;
  color: #495057;
  cursor: pointer;
}

.modal-header {
  text-align: center;
}

.modal-body {
  text-align: start;
}

body[theme='light'] {
  .text-sun {
    color: #000;
  }

  .text-moon {
    color: #ddd;
  }
}

/* --- */

/* Dark Mode */
body[theme='dark'] {
  background-color: #171c1c;
  color: white;
}

body[theme='dark'] .navigation-bar {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(0.25turn, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  border-image-slice: 1;
}

body[theme='dark'] nav ul li a {
  color: white;
}

body[theme='dark'] .tasks,
body[theme='dark'] .pending-assignment,
body[theme='dark'] .upcoming-reminder,
body[theme='dark'] .recent-material,
body[theme='dark'] .expense-overview {
  background-color: #232b2b;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body[theme='dark'] .titles {
  background-color: #232b2b;
  color: white;
  border-bottom: 2px solid #ccc;
}

body[theme='dark'] .item {
  background-color: #444;
  color: #444;
}

body[theme='dark'] .text {
  color: white;
}

body[theme='dark'] .modal-content {
  background-color: #232b2b;
  color: white;
}

body[theme='dark'] .modal-header {
  border-bottom: 1px solid #666;
}

body[theme='dark'] button {
  color: white;
}

body[theme='dark'] .modal-footer {
  border-top: 1px solid #666;
}

body[theme='dark'] .modal-body a {
  color: white;
}

body[theme='dark'] .file-link {
  text-decoration: none;
  color: white;
}

body[theme='dark'] {
  .text-sun {
    color: #222;
  }

  .text-moon {
    color: #fff;
  }
}

/* --- */

/* Sun-Moon Toggle button */

#hybrid {
  visibility: hidden;
}

#theme-toggle {
  visibility: hidden;
}

#theme-toggle+label {
  content: '';
  cursor: pointer;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 27px;
  right: 75px;
  border-radius: 50%;
}

#theme-toggle:not(:checked)+label {
  background-color: rgb(255, 175, 56);
}

#theme-toggle:checked+label {
  background-color: transparent;
  box-shadow: inset -10px -8px 1px 1px #fff;
}

.intro-text {
  top: 180px;
  font-size: 1.6em;
  font-family: monospace;
}

[class*='text-'] {
  font-size: 1.2em;
  font-weight: 600;
}

/* --- */

/* profile menu  */

.profile-menu {
  position: fixed;
  top: 13px;
  right: 50px;
  z-index: 1;
}

.profile-menu .profile {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-menu .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Dark mode menu */

body[theme='dark'] .profile-menu .menu {
  position: absolute;
  top: 70px;
  right: -15px;
  padding: 10px 0px;
  background: #2d3132;
  width: 260px;
  box-sizing: 0 5px 25px rgba(255, 255, 255, 0);
  border-radius: 15px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  box-shadow: -15px 17px 22px -12px rgba(172, 170, 170, 0.116);
}

body[theme='dark'] .profile-menu .menu.active {
  visibility: visible;
  opacity: 1;
}

body[theme='dark'] .profile-menu .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  transition: 0.2s;
  background: #2d3132;
  transform: rotate(45deg);
}

body[theme='dark'] .profile-menu .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0 0px;
  font-weight: 500;
  color: #ebebeb;
  line-height: 1.2em;
}

body[theme='dark'] .profile-menu .menu h3 span {
  font-size: 14px;
  color: #9f9f9f;
  font-weight: 400;
}

body[theme='dark'] .profile-menu .menu ul {
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

body[theme='dark'] .profile-menu .menu ul li {
  list-style: none;
  padding: 10px 0px 0px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
}

body[theme='dark'] .profile-menu .menu img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

body[theme='dark'] .profile-menu .menu ul li:hover img {
  opacity: 1;
}

body[theme='dark'] .profile-menu .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #e6e6e6;
  font-weight: 500;
  transform: 0.2s;
}

body[theme='dark'] .profile-menu .menu ul li:hover a {
  color: #ff5d94;
}

/*  */

.profile-menu .menu {
  position: absolute;
  top: 70px;
  right: -15px;
  padding: 10px 0px;
  background: #fff;
  width: 260px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  box-shadow: -15px 17px 22px -12px rgba(0, 0, 0, 0.4);
}

.profile-menu .menu.active {
  visibility: visible;
  opacity: 1;
}

.profile-menu .menu::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  transition: 0.2s;
  background: #fff;
  transform: rotate(45deg);
}

.profile-menu .menu h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0 0px;
  font-weight: 500;
  color: #555;
  line-height: 1.2em;
}

.profile-menu .menu h3 span {
  font-size: 14px;
  color: #868686;
  font-weight: 400;
}

.profile-menu .menu ul {
  justify-content: center;
  padding: 0px 0px 0px 0px;
}

.profile-menu .menu ul li {
  list-style: none;
  padding: 10px 0px 0px 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.profile-menu .menu img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.2s;
}

.profile-menu .menu ul li:hover img {
  opacity: 1;
}

.profile-menu .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transform: 0.2s;
}

.profile-menu .menu ul li:hover a {
  color: #ff5d94;
}