body {
    font-family: monospace;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 800px;
    padding: 20px 35px 25px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.container h2 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.container label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.container input[type='text'],
.container input[type='password'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #0056b3;
}

.container p {
    margin-top: 1rem;
    font-size: 0.875rem;
    color: #333;
    margin-left: 8px;
}

.container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}

.password-input {
    position: relative;
}

.password-input input {
    width: calc(100% - 30px);
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

.password-input .toggle-password {
    position: absolute;
    top: 20%;
    right: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.toggle-password:hover {
    transform: scale(1.1);
}