<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Profile</title>
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ profile_info.user.username }}" required />
      </div>
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile_info.first_name }}" required />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile_info.last_name }}" required />
      </div>
      <div class="mb-3">
        <label for="Enrollment_No" class="form-label">Enrollment Number:</label>
        <input type="text" class="form-control" id="Enrollment_No" name="Enrollment_No" value="{{ profile_info.Enrollment_No }}" required />
      </div>
      <div class="mb-3">
        <label for="bio" class="form-label">Add Bio:</label>
        <textarea name="bio" id="bio" cols="30" rows="10">{{ profile_info.bio }}</textarea>
      </div>
      <div class="mb-3">
        <label for="profile_pic" class="form-label">Profile picture</label>
        <input type="file" class="form-control" id="profile_pic" name="profile_pic" accept="image/*" />
      </div>
      <div class="mb-3">
        <label for="birth_date" class="form-label">Birth Date:</label>
        <input type="date" class="form-control" id="birth_date" name="birth_date" value="{{ profile_info.birth_date }}" />
      </div>
      <button type="submit">Save</button>
      <a href="{% url 'userprofile' %}"><button type="button">Cancel</button></a>
    </form>
  </body>
</html>
