<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h2>Add Tasks</h2>

    <form method="post">
      {% csrf_token %}
      <label for="title">Add Title:</label>
      <input type="text" id="title" name="title" required />

      <label for="desc">Description:</label>
      <input type="text" id="desc" name="desc" required />

      <label for="due_date">Due Date:</label>
      <input type="date" id="due_date" name="due_date" required />

      <label for="priority">Priority:</label>
      <input type="text" id="priority" name="priority" required />

      <button type="submit">Add Task</button><br />
      <br />
      <a class="btn btn-primary" href="{% url 'main' %}" role="button">Home</a>
    </form>
  </body>
</html>
