<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
  </head>
  <body>
    <h4>Task List</h4>
    {% for Tasks in task_list %}
      <input type="checkbox" id="{{ Tasks.title }}" name="{{ Tasks.title }}" />
      <label for="{{ Tasks.title }}"><a href="{% url 'task_detail' Tasks.Task_id %}" style="color: black; text-decoration: none;">{{ Tasks.title }}</a></label>
      <a class="btn btn-primary" style="color: black;" href="{% url 'edit_task' Tasks.Task_id %}" role="button">Edit Task</a>
      <a class="btn btn-primary" style="color: black;" href="{% url 'delete_task' Tasks.Task_id %}" role="button">Delete Task</a>

      <br />
    {% endfor %}

    <br />
    <a class="btn btn-primary" href="{% url 'add_task' %}" role="button">Add task</a>
    <br>
    <a class="btn btn-primary" href="{% url 'main' %}" role="button">Home</a>
  </body>
</html>
