<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tasks</title>
  </head>
  <body>
    <center>
      <h2>{{ task_list.title }}</h2>
      <p id="taskDesc">Description: {{ task_list.desc }}</p>
      <p id="taskDate">Due: {{ task_list.due_date }}</p>
      <p id="taskPriority">Priority: {{ task_list.priority }}</p>

      <a class="btn btn-primary" style="text-decoration: none; color: black;" href="{% url 'list_task' %}" role="button">Back</a>
    </center>
  </body>
</html>
